@model Presupuesto

<form asp-controller="Presupuesto" asp-action="Edit">
    <section class="mb-3">
        <input type="hidden" asp-for="IdPresupuesto" value="@Model.IdPresupuesto">
        <label asp-for="NombreDestinatario" class="form-label">Nombre Destinatario</label>
        <input asp-for="NombreDestinatario" value="@Model.NombreDestinatario" class="form-control" required /> 
    </section>
    <input type="hidden" value="@Model.FechaCreacion" asp-for="FechaCreacion">
@*     <ul>
        @for(int i = 0; i < Model.Detalles.Count; i++){
            <li class="pb-2">
            @Model.Detalles[i].Producto.Descripcion - @Model.Detalles[i].Producto.Precio 
            <input type="number" asp-for="Detalles[i].Cantidad" min="0">
            <input type="hidden" asp-for="Detalles[i].Producto.IdProducto">
            </li>  
        }
    </ul> *@

  <button type="submit" class="btn btn-warning">Modificar</button>
</form>